<div class="container" style="margin-top:120px">
    <form action="/productos" method="POST">
  <div class="form-group row">
    <label for="inputName" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control " id="inputName" name="title" placeholder="Name of the product">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPass" class="col-sm-2 col-form-label">Price</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="inputPass" name="price" placeholder="Price of the product">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputThumb" class="col-sm-2 col-form-label">Thumbnail</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputThumb" name="thumbnail" placeholder="URL of the product">
    </div>
  </div>

  
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-warning">Submit</button>
    </div>
  </div>
</form>
</div>