<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <body>
    <form action="/register" method="POST">
      <h2>Registro</h2>
      <label for="username">Username</label>
      <input type="text" name="username" />
      <label for="password">Password</label>
      <input type="password" name="password" />
      <button type="submit">Enviar</button>
    </form>
    <hr />
    <h2>Ir al Logueo</h2>
    <button><a href="/login">login</a></button>
  </body>
</html>
